<!DOCTYPE html>
<html lang="en-US">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Chat</title>
</head>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
    <button ng-click="logout()">logout</button>
  <form novalidate>
    username:<br>
    <input type="text" ng-model="user.username"><br>
    password:<br>
    <input type="text" ng-model="user.password">
    <br><br>
    <button ng-click="login()">login</button>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
  </form>
  <br>
  <form novalidate>
    username:<br>
    <input type="text" ng-model="user.username"><br>
    password:<br>
    <input type="text" ng-model="user.password">
    <br><br>
    <button ng-click="register()">register</button>
  </form>
  <br>
  <div id="chatbox" style="width:450px; height:250px; overflow:scroll"></div>
  <br>
    <form novalidate>
        <input  type="text" ng-model="message" />
        <button ng-click="sendmessage()">send</button>
    </form>
    <select id="selRec">
		<option ng-repeat="x in names">{{x}}</option>
	</select>
</select>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
	$scope.names=[""];
	$scope.message="";
    $scope.user = {username: "", password: ""};
    $scope.master = {username: "", password: ""};
    $scope.login = function() {
    	var message={username:$scope.user.username,password:$scope.user.password,type:"login",recipient:"",message:""};
		var mess=JSON.stringify(message);
		ws.send(mess);
    };
    $scope.register = function() {
        var message={username:$scope.user.username,password:$scope.user.password,type:"register",recipient:"",message:""};
		var mess=JSON.stringify(message);
		ws.send(mess);
    };
    $scope.sendmessage = function() {
    	var box=document.getElementById("chatbox");
        var selekt=document.getElementById("selRec");
        var el= document.createElement("p");
        el.innerHTML=$scope.message;
        box.appendChild(el);
        console.log($scope.message);

        var message={username:$scope.user.username,password:$scope.user.password,type:"message",recipient:selekt.options[selekt.selectedIndex].text,message:$scope.message};
		var mess=JSON.stringify(message);
    	ws.send(mess);
    };
    $scope.logout = function() {
        var message={username:$scope.user.username,password:$scope.user.password,type:"logout",recipient:"",message:""};
		var mess=JSON.stringify(message);
		ws.send(mess);
    };
    var address=window.location.href;
    address=address.substring(4, address.length)
    console.log(address);
	var ws = new WebSocket("ws"+address+"socket");
    
    ws.onopen = function(){  
        console.log("Socket has been opened!");  
    };
    
    ws.onmessage = function(message) {
    	$scope.$apply(function() {
        	 var data=JSON.parse(message.data);
        console.log(data);
        if(data.type==="message"){
        	var box=document.getElementById("chatbox");
            var el= document.createElement("p");
            el.innerHTML=data.username+": "+data.message;
            box.appendChild(el);
        }else if(data.type==="newUser"){
            if($scope.names.indexOf(data.username)===-1){
                $scope.names.push(data.username);
                }
        }else if(data.type==="lostUser"){
            if($scope.names.indexOf(data.username)!=-1){
                $scope.names.splice($scope.names.indexOf(data.username),1);
                }
        }})
        
        
    };
});
</script>

</body>
</html>